.photo-gallery-modal {
  position: fixed;
  width: 100vw;
  height: calc(100vh + 1rem);
  top: -1rem;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 2;
}

.photo-gallery-modal.open {
  display: block;
}

.photo-gallery-content {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid salmon;
  width: calc(100% - 8rem);
  max-width: 1000px;
  box-sizing: content-box;
  text-align: center;
}