.gallery-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none; outline: none;
  font-size: 3rem;
  background: none;
  color: darkslategray;
  transition: color ease-in-out 0.3s;
}

.gallery-button:hover {
  color: white;
}

.gallery-button.previous {
  left: -2rem;
}
.gallery-button.next {
  right: -2rem;
}